// ManageUser Component
.User__details{
	display: flex;
	align-items: center;
	flex-shrink: 1;
	position: relative;
}

.User__details__avatar{
	align-items: center;
	margin-right: 1rem;
	flex-shrink: 3;
}


.User__details__info{
	min-width: 0;
	flex-shrink: 10;
}

.User__details__description{
	min-width: 0;
	@media (min-width: $large-breakpoint){
		width: 35%;
	}
}

.User__details__url{
	@media (min-width: $large-breakpoint){
		width: 65%;
	}
}

.User__details__login-info{
	line-height: 1;
	align-self: stretch;
	cursor: pointer;
	&:focus{
		outline: 0;
	}
	@media (min-width: $large-breakpoint){
		margin-right: 1rem;
	}
	
	&:before{
		content: "";
		position: absolute;
		top: 0; 
		right: 0;
		bottom: 0;
		left: 0;
		@media (min-width: $large-breakpoint){
			display: none;
		}
	}
	svg{
		fill: #AFBFC9; // $c-g200
		flex-shrink: 0;
	}
}

.User__details__actions{
	
	@media (min-width: $large-breakpoint){
		display: flex !important;
	}
}

/* USER Login Info */

.User__login-info{
	background-color: #f4f6f9; // color picked from mockup
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	@media (min-width: $large-breakpoint){
		background-color: transparent;
	}
}

.User__login-info__group {
	@media (min-width: $large-breakpoint){
		flex: 1 1 auto; // there's no flex shrink util
		& + & {
			margin-left: 3rem;
		}
	}
}

// State Based Styles 

.User__login-info.is-uncollapsed{
	display: block !important;
	@media (min-width: $large-breakpoint){
		display: flex !important;
	}
}

.User__edit.is-uncollapsed{
	display: block !important;
}

.User__delete.is-uncollapsed{
	display: flex !important;
}

.User__delete{
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.User.is-uncollapsed{
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.08);
}

.AddUser.is-uncollapsed{
	display: block !important;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.08);
}

// Utils to be added to DreamHost.css

.u-border-radius-circle{
	border-radius: 50%;
}

.t-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flex-shrink-0{
	flex-shrink: 0;
}

.t-semibold{
	font-weight: 500 !important;
}

// RadioButtonGroup

.RadioButtonGroup {
  display: flex;
  flex-wrap: wrap;
    
  > label {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    cursor: pointer;
    text-align: center;
    border: solid 1px #E0E4E8;
    border-right-width: 0;
    
    &:last-of-type{
      border-radius: 0 3px 3px 0;
      border-right-width: 1px;
    }
    &:first-of-type{
      border-radius: 3px 0 0 3px;
    }
  }
  
  > [type="radio"] {
    display: none;
  }
  
  > [type="radio"]:checked + label {
    background-color: #0073EC;
    color: #fff;
    border-color: #0073EC;
  }
}

.RadioButtonGroup__Details {
  width: 100%;
  margin-top: 1rem;
  
  min-height: 3rem;
}

.RadioButtonGroup__Details__Area {
  display: none;
}

.RadioButtonGroup [type="radio"]:nth-of-type(1):checked ~ .RadioButtonGroup__Details *:nth-of-type(1), 
.RadioButtonGroup [type="radio"]:nth-of-type(2):checked ~ .RadioButtonGroup__Details *:nth-of-type(2),
.RadioButtonGroup [type="radio"]:nth-of-type(3):checked ~ .RadioButtonGroup__Details *:nth-of-type(3) {
  display: block;
}

// Floating Action Button

.Fab {
	background-color: $c-b300;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	color: #fff;
	padding: 1rem;
	font-size: 1rem;
	min-width: 3rem;
	min-height: 3rem;
	border: 0 none;
	border-radius: 50%;
	display: flex;
	align-content: center;
	justify-content: center;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	cursor: pointer;
	&:focus{
		outline: 0;
	}
}
