@import '../../node_modules/dreamhost-css/src/scss/style.scss';
@import './users-module.scss';

/* Dreamhost.design Specific Overrides */


$mq-nav: 800px;
$mq-nav--max: $mq-nav - 1px;

$mq-toc: 1350px;
$mq-toc--max: $mq-toc - 1px;

html, body{
    &::-webkit-scrollbar {
      width: .3rem;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color:  rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.3);
      border-radius: .4rem;
      }
}

//body
body{
	color: #071C26 !important;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion{
	color: #0073EC!important;
}

//code area

code.hljs, code{
	border: none;
	color: $c-g500;
	background: $c-g200;
}

code.hljs {
	width: 100%;
	overflow-y: auto;
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: calc(1em + 8px);
	border-radius: 3px;
	border: none;
	color: #ffffff;
	background: #071C26;
}

.hljs-string{
	color:#1176A5;
}

// Main Grid

.app{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
        "logo nav"
        "sidebar sidebar"
        "main main";

    @media (min-width: $mq-nav){
        grid-template-columns: 18rem 1fr 18rem;
        grid-template-rows: min-content auto;
        grid-template-areas: 
            "logo nav nav"
            "sidebar main main";
    }

    @media (min-width:$mq-toc){
        grid-template-areas: 
            "logo nav nav"
            "sidebar main toc";
    }

}

.logo{
    grid-area: logo;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
	padding: 0 .5rem;
	z-index: $z-3;
	background-color: #071C26 !important;
	@media (min-width: $mq-nav) {
		padding: 0 1.6rem;	
	}
}

.nav{
    grid-area: nav;
    line-height: 1; 
	height: 64px;
    position: sticky;
    position: -webkit-sticky;
	top: 0;
	z-index: $z-3;
	background-color: #071C26 !important;
	@media (min-width: $mq-nav) {
		padding: 1rem;
	}
}
  
main{
	grid-area: main;
	overflow: hidden;
}

.sidebar{
  grid-area: sidebar;
  height: calc(90vh - 3.5rem);
  top: 3.5rem;
  overflow: auto;
  display: none;
  @media (min-width: $mq-nav){
	top: 4rem;
    height: calc(100vh - 4rem);
    display: block;
    position: sticky;
    position: -webkit-sticky;
  }
}

.sidebar.sticky{
  position: sticky;
  position: -webkit-sticky;
  display: block;
  z-index: $z-3;
}

.table-of-contents{
  grid-area: toc;
  align-self: start;
  display: none;
  @media (min-width: $mq-toc){
	display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 6rem;
  }

  a:hover{text-decoration: none;}
  
  li li {
	  padding-left: 1rem;
  }

  li.is-active{
	  position: relative;
	  &::after{ // creates a bullet next to active toc item
		content: "";
		position: absolute;
		left: -1.2rem;
		top: .45rem;
		width: .5rem;
		height: .5rem;
		background-color: $c-b300;
		border-radius: 50%;
	  }
  }
} 

// Brand

.brand{
    height: 2.5rem;
    img{
      width: auto;
      height: 100%;
      margin-bottom: 0;
    }
  }

// Navigation Menu

.nav-menu--large{
	display: none;
	@media (min-width: $mq-nav){
		display: flex;
	}
}

.nav-menu__toggle{

	@media (min-width: $mq-nav){
		display: none;
	}
}

.toggle{
	line-height: 1;
	background-color: initial;
    border: initial;
    padding: 0; margin: 0;
	color: #fff;
	font-size: 1rem;
    display: block;
	line-height: 1;
	padding: 1.25rem;
	min-width: 3.5rem;
	display: flex;
	align-content: center;
}

// Sidebar + Mobile Nav

.subnav{ // Level 1
    height: 100%; 
}

.subnav__subnav{ // Level 2
	display: none;
	flex: 1 1 0; 
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255,255,255,0.1);
		border-radius: .4rem;
	}
	> li{

		> a{
			padding: 1rem 1rem;
			border-radius: .5rem;
			&:hover{
				background-color: rgba(255,255,255,0.2);
			}
			&.is-uncollapsed{
				background-color: rgba(100,100,100,0.05);
			}
			&.is-active{
				.Icon{
					color: $c-b300 !important;
				}
			}
		}
	}
}


.subnav__subnav__subnav{ // Level 3
	display: none;
	padding: 1rem 0;
	> li a {
		display: block;
		line-height: 1;
		padding: 1rem 2rem;
		transition: .33s background-color;
		border-radius: .5rem;
		&:hover{
			background-color: rgba(255,255,255,0.2);
		}
		&.active, &.is-active{
			// background-color: rgba(100,100,100,0.1);
			color: $c-b300;
			font-weight: bold;
		}
	}
}


// Nav Utils

.subnav__subnav__subnav-item-divider{
	padding: 1rem 2rem;
	line-height: 1;
	&[title]{
		cursor: help;
	}
}

.sidebar a{
	color: #434F58; // softer feeling anchor colors
	&:hover{
	text-decoration: none;
		.Icon{
			color: #0073EC !important;
		}
	}
	
}

.is-uncollapsed{
	flex-grow: 1;
	transition: .6s all;
}

.is-uncollapsed .subnav__subnav, .is-uncollapsed + .subnav__subnav__subnav {
	display: block;
}

.subnav .Icon--down{
	transition: .2s transform;
	transform: rotate(90deg);
}

.subnav__subnav .is-uncollapsed > .Icon:not(.Icon--right), .is-uncollapsed .item__anchor .Icon:not(.Icon--right){
	transform: rotate(270deg);
}

.item__anchor:hover{
	background-color: rgba(255,255,255,0.4);
}


// utils

.rounded-circle{
    border-radius: 50%;
}
  
a[name]:before { 
	display: block; 
    content: " "; 
    margin-top: -5rem; 
    height: 5rem; 
    visibility: hidden; 
    margin-bottom: 0;
}

.no-scroll{
	height: 100%;
	overflow: hidden;
}

// single page layouts

.fullWidth{
	width: 100%;
}

.no-toc{
	grid-column: span 2;
}