@import '../../node_modules/dreamhost-css/src/scss/style.scss';

/* Dreamhost.design Specific Overrides */

html, body{
    &::-webkit-scrollbar {
      width: .3rem;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color:  rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.3);
      border-radius: .4rem;
      }
}

//body
body{
	color: #071C26 !important;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion{
	color: #0073EC!important;
}

//code area

code.hljs, code{
	border: none;
	color: $c-g500;
	background: $c-g200;
}

code.hljs {
	width: 100%;
	overflow-y: auto;
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: calc(1em + 8px);
	border-radius: 3px;
	border: none;
	color: #ffffff;
	background: #071C26;
}

.hljs-string{
	color:#1176A5;
}

// Main Grid

.app{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
        "logo nav"
        "sidebar sidebar"
        "main main";

    @media (min-width: 700px){
        grid-template-columns: minmax(min-content, 18rem) 1fr max-content;
        grid-template-rows: min-content auto;
        grid-template-areas: 
            "logo nav nav"
            "sidebar main main";
    }

    @media (min-width:1200px){
        grid-template-areas: 
            "logo nav nav"
            "sidebar main toc";
    }

}

.logo{
    grid-area: logo;
    background-color: #2667DD;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
	padding: 0 .5rem;
	z-index: $z-3;
	@media (min-width: 700px) {
		padding: 0 1.6rem;	
	}
}

.nav{

    grid-area: nav;
    line-height: 1; 
    position: sticky;
    position: -webkit-sticky;
	top: 0;
	z-index: $z-3;

	@media (min-width: 700px) {
		padding: 1rem;
	}
}
  
main{
    grid-area: main;
}

.sidebar{
  grid-area: sidebar;
  height: calc(90vh - 3.5rem);
  top: 3.5rem;
  overflow: auto;
  display: none;
  @media (min-width: 700px){
	top: 4rem;
    height: calc(100vh - 4rem);
    display: block;
    position: sticky;
    position: -webkit-sticky;
  }
}

.sidebar.sticky{
  position: sticky;
  position: -webkit-sticky;
  display: block;
  z-index: $z-3;
}

.table-of-contents{
  grid-area: toc;
  align-self: start;
  display: none;
  @media (min-width: 1320px){
    display: block;
    min-width: 15rem;
    position: sticky;
    position: -webkit-sticky;
    top: 6rem;
  }

  a:hover{text-decoration: none;}
  
  li.is-active{
	  position: relative;
	  &::after{ // creates a bullet next to active toc item
		content: "";
		position: absolute;
		left: -1.2rem;
		top: .45rem;
		width: .5rem;
		height: .5rem;
		background-color: $c-b300;
		border-radius: 50%;
	  }
  }
} 

// Brand

.brand{
    height: 2.5rem;
    img{
      width: auto;
      height: 100%;
      margin-bottom: 0;
    }
  }

// Navigation Menu

.nav-menu--large{
	display: none;
	@media (min-width: 700px){
		display: flex;
	}
}

.nav-menu__toggle{

	@media (min-width: 699px){
		display: none;
	}
}

.toggle{
	line-height: 1;
	background-color: initial;
    border: initial;
    padding: 0; margin: 0;
	color: #fff;
	font-size: 1rem;
    display: block;
	line-height: 1;
	padding: 1.25rem;
	min-width: 3.5rem;
	display: flex;
	align-content: center;
}

// Sidebar + Mobile Nav

.subnav{ // Level 1
    height: 100%; 
}

.subnav__subnav{ // Level 2
	display: none;
	flex: 1 1 0; 
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255,255,255,0.2);
		border-radius: .4rem;
	}
	> li{
		line-height: 1;
		
		& + li{
		margin-top: 2rem;
		}
	}
}


.subnav__subnav__subnav{ // Level 3
	display: none;
	> li + li{
		margin-top: 1rem;
	}
}


// Nav Utils

.sidebar a{
	color: #434F58; // softer feeling anchor colors
	&:hover{
	text-decoration: none;
	color: #0073EC; // azure highlight on hover
	.Icon{
		color: #0073EC !important;
	}
	}
	&.active, &.is-active{
		color: $c-b300;
		font-weight: bold;
	}
}

.is-active{
	color: $c-b300;
	font-weight: bold;
}


.is-uncollapsed{
	flex-grow: 1;
	transition: .6s all;
}

.is-uncollapsed .subnav__subnav, .is-uncollapsed + .subnav__subnav__subnav {
	display: block;
}

.Icon{
	transition: .2s transform;
}

.is-uncollapsed .item__anchor .Icon{
	transition: .2s transform;
	transform: rotate(90deg);
}

.subnav__subnav .is-uncollapsed > .Icon{
	transition: .2s transform;
	transform: rotate(90deg);
}

.item__anchor{
	&:hover{
		background-color: rgba(255,255,255,0.08);
	}
}

// utils

.rounded-circle{
    border-radius: 50%;
}
  
a[name]:before { 
	display: block; 
    content: " "; 
    margin-top: -5rem; 
    height: 5rem; 
    visibility: hidden; 
    margin-bottom: 0;
}

.no-scroll{
	height: 100%;
	overflow: hidden;
}

// single page layouts

article.fullWidth{
	width: 100%;
}