<ul class="p-x-s p-top-m p-bottom-xl SideNav__subnav">
	<li class="SideNav__label m-top m-bottom-2">Essence</li>
	<li><a href="{{site.baseurl}}/brand/characteristics" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/characteristics/" %} is-active{% endif %}">Characteristics</a></li>
	<li><a href="{{site.baseurl}}/brand/positioning" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/positioning/" %} is-active{% endif %}">Positioning</a></li>
	<li><a href="{{site.baseurl}}/brand/values" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/values/" %} is-active{% endif %}">Values</a></li>

	<li class="SideNav__label m-top m-bottom-2">Resources</li>
	<li><a href="{{site.baseurl}}/brand/color" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/color/" %} is-active{% endif %}">Color</a></li>
	<li><a href="{{site.baseurl}}/brand/logo" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/logo/" %} is-active{% endif %}">Logo</a></li>
	<li><a href="{{site.baseurl}}/brand/mascot" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/mascot/" %} is-active{% endif %}">Mascot</a></li>
	<li><a href="{{site.baseurl}}/brand/typography" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/brand/typography/" %} is-active{% endif %}">Typography</a></li>
</ul>