<ul class="p-x-s p-top-m p-bottom-xl SideNav__subnav">
	<li class="SideNav__label m-top m-bottom-2">Illustration</li>
	<li><a href="{{site.baseurl}}/marketing/illustrationguide" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/illustrationguide/" %} is-active{% endif %}">Guide</a></li>
	<li><a href="{{site.baseurl}}/marketing/illustrationassets" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/illustrationassets/" %} is-active{% endif %}">Resources</a></li>
</ul>