<ul class="p-x-s p-top-m p-bottom-xl SideNav__subnav">
	<li class="SideNav__label m-top m-bottom-2">Illustration</li>
	<!--li><a href="{{site.baseurl}}/marketing/color" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/color/" %} is-active{% endif %}">Color</a></li-->
	<!--li><a href="{{site.baseurl}}/marketing/email" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/email/" %} is-active{% endif %}">Email</a></li-->
	<!--li><a href="{{site.baseurl}}/marketing/iconography" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/iconography/" %} is-active{% endif %}">Iconography</a></li-->
	<li><a href="{{site.baseurl}}/marketing/illustrationguide" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/illustrationguide/" %} is-active{% endif %}">Guide</a></li>
	<li><a href="{{site.baseurl}}/marketing/illustrationassets" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/illustrationassets/" %} is-active{% endif %}">Resources</a></li>
	<!--li><a href="{{site.baseurl}}/marketing/presentations" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/marketing/presentations/" %} is-active{% endif %}">Presentations</a></li-->
</ul>