<aside class="sidebar  ">
    <!-- Begin Sidebar -->
    <ul class="subnav flex flex-column">
        <!-- LEVEL 1 -->

        <li class="design__item sidebar__nav__item transition--all flex flex-column is-uncollapsed">

            <ul class='subnav__subnav bg-c-w100 {% if page.url == "/" %}bg-black{% endif %} p-2 t-0'>
                <li>
                    <p class=" p-3 t-c-b300 l-flex flex-justify-between t-ls-1">
                        DESIGN GUIDELINES
                    </p>
                </li>
                {% include components/menu-item.html title="Principles" url="/principles/" %}
                {% include components/menu-item.html title="Colors" url="/colors/" %}
                <li>
                    <a class='l-flex flex-justify-between {% if page.url contains "/iconography/" %}is-uncollapsed{% endif %}{% if page.url == "/" %}t-c-w100{% endif %}'
                        href="javascript:;">
                        Iconography
                    </a>
                    <ul class='subnav__subnav__subnav bg-c-b50 {% if page.url == "/" %}bg-black{% endif %} t-0'>
                        <!-- LEVEL 3 -->

                        <li><a href="{{site.baseurl}}/iconography/product/" class='{% if page.url =="/iconography/product/" %}is-active{% endif %}
                    {% if page.url == "/" %}t-c-w100{% endif %}'>Product</a></li>
                        <li><a href="{{site.baseurl}}/iconography/standard/" class='{% if page.url == "/iconography/standard/" %}is-active{% endif %}
                    {% if page.url == "/" %}t-c-w100{% endif %}'>Standard</a></li>

                    </ul>
                </li>
                {% include components/menu-item.html title="Illustrations" url="/illustrations/" %}
                {% include components/menu-item.html title="Logos" url="/logos/" %}
                {% include components/menu-item.html title="Mascot" url="/mascot/" %}
                {% include components/menu-item.html title="Photography" url="/photography/" %}

                <li>
                    <a class='l-flex flex-justify-between {% if page.url contains "/typography/" %}is-uncollapsed{% endif %}{% if page.url == "/" %}t-c-w100{% endif %}'
                        href="javascript:;">
                        Typography
                    </a>
                    <ul class='subnav__subnav__subnav bg-c-b50 {% if page.url == "/" %}bg-black{% endif %} t-0'>
                        <!-- LEVEL 3 -->

                        <li><a href="{{site.baseurl}}/typography/marketing/" class='{% if page.url =="/typography/marketing/" %}is-active{% endif %}
                    {% if page.url == "/" %}t-c-w100{% endif %}'>Marketing</a></li>
                        <li><a href="{{site.baseurl}}/typography/product/" class='{% if page.url == "/typography/product/" %}is-active{% endif %}
                    {% if page.url == "/" %}t-c-w100{% endif %}'>Product</a></li>

                    </ul>
                </li>
           
            </ul><!-- end submenu -->
        </li>
    </ul>
</aside>
