<aside class="sidebar  ">
    <!-- Begin Sidebar -->
    <ul class="subnav flex flex-column">
        <!-- LEVEL 1 -->

        <li class="design__item sidebar__nav__item transition--all flex flex-column is-uncollapsed">

            <ul class='subnav__subnav bg-c-w100 {% if page.url == "/" %}bg-black{% endif %} p-2 t-0'>
                <li>
                    <p class=" p-3 t-c-b300 l-flex flex-justify-between t-ls-1">
                        DESIGN GUIDELINES
                    </p>
                </li>
                {% include components/menu-item.html title="Principles" url="/principles/" %}
                {% include components/menu-item.html title="Colors" url="/colors/" %}
                {% include components/menu-item.html title="Product Icons" url="/iconography/product/" %}
                {% include components/menu-item.html title="Standard Icons" url="/iconography/standard/" %}
                {% include components/menu-item.html title="Illustrations" url="/illustrations/" %}
                {% include components/menu-item.html title="Logos" url="/logos/" %}
                {% include components/menu-item.html title="Mascot" url="/mascot/" %}
                {% include components/menu-item.html title="Photography" url="/photography/" %}
                {% include components/menu-item.html title="Typography" url="/typography/" %}
            </ul><!-- end submenu -->
        </li>
    </ul>
</aside>