{% include _logo.html %}
	<ul class="p-bottom-xl">
		<li><a href="{{site.baseurl}}/brand" class="SideNav__nav-link p-x-s tr-easing-cb-scale-out{% if page.url contains "/brand/" %} is-active{% endif %}">Brand</a></li>
		<li><a href="{{site.baseurl}}/product" class="SideNav__nav-link p-x-s tr-easing-cb-scale-out{% if page.url contains "/product/" %} is-active{% endif %}">Product</a></li>
		<li><a href="{{site.baseurl}}/practice/principles/" class="SideNav__nav-link p-x-s tr-easing-cb-scale-out{% if page.url contains "/practice/principles/" %} is-active{% endif %}">Design Practice</a></li>
		<li><a href="{{site.baseurl}}/sketch" class="SideNav__nav-link p-x-s tr-easing-cb-scale-out{% if page.url == "/sketch/" %} is-active{% endif %}">Sketch Library</a></li>
	</ul>

	{% if page.url contains "/brand/" %}{% include _brand-nav.html %}{% endif %}
	{% if page.url contains "/marketing/" %}{% include _marketing-nav.html %}{% endif %}
	{% if page.url contains "/product/" %}{% include _product-nav.html %}{% endif %}
	{% if page.url contains "/practice/" %}{% include _practice-nav.html %}{% endif %}
