<ul class="p-x-s p-top-m p-bottom-xl SideNav__subnav">
  	<li class="SideNav__label m-top m-bottom-2">Resources</li>
  <li><a href="{{site.baseurl}}/practice/codereview/" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/practice/codereview/" %} is-active{% endif %}">Code review</a></li>
  <li><a href="{{site.baseurl}}/practice/contribution/" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/practice/contribution/" %} is-active{% endif %}">Contribution guide</a></li>
  <li><a href="{{site.baseurl}}/practice/principles/" class="SideNav__subnav-link tr-easing-cb-scale-out{% if page.url == "/practice/principles/" %} is-active{% endif %}">Design principles</a></li>
</ul>