.highlight code { color: #071C26; }

@media (min-width: 750px) { main { margin: 0 0 0 24% !important; } }

.SideNav { background: #071C26; color: #fff; overflow-y: scroll; height: 100%; }

.SideNav ul { display: none; }

@media (min-width: 750px) { .SideNav { position: fixed; top: 0; width: 24%; height: 100vh; overflow-y: scroll; }
  .SideNav ul { display: block; } }

.show .SideNav ul { display: block; }

.SideNav__nav-link { color: #CCEFFF; text-decoration: none; display: block; padding: .75rem 0rem; transition: all .2s ease-in-out; }

.SideNav__nav-link:hover { border-left: solid 3px #1176A5; padding: .75rem 1rem; text-decoration: none; }

.SideNav__subnav-link { color: #fff; text-decoration: none; display: block; margin: 0; padding: .75rem 0rem; transition: all .2s ease-in-out; border-top: solid 1px rgba(255, 255, 255, 0.1); }

.SideNav__subnav-link:hover, .SideNav__subnav-link.is-active { color: #2BADE9; border-left: solid 3px #2BADE9; padding: .75rem 1rem; text-decoration: none; }

.SideNav__nav-link.is-active { background: #F4F6F9; color: #061C26; font-weight: bold; padding: .75rem 1rem; }

.SideNav__label { font-family: 'Ubuntu', sans-serif; font-size: 1rem; text-transform: uppercase; letter-spacing: 1.5px; }

.SideNav__subnav { background: #071C26; box-shadow: inset 0 10px 10px 0px rgba(0, 0, 0, 0.3); }

.SideNav__label + li a { border-top: none; }

.hljs-string { color: #1176A5; }

/* Menu Toggle Switch */
.menutoggle { position: absolute; top: 4rem; right: 2rem; margin: 0; padding: 0; width: 30px; height: 30px; display: block; cursor: pointer; }

.menutoggle span { display: block; position: absolute; height: 2px; width: 100%; background: #fff; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -o-transition: .3s ease-in-out; transition: .3s ease-in-out; }

.menutoggle span:nth-child(1) { top: 0px; }

.menutoggle span:nth-child(2) { top: 5px; left: 0; opacity: 1; }

.menutoggle span:nth-child(3) { top: 10px; }

@media (min-width: 750px) { .menutoggle { display: none; } }

.show .menutoggle span { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); top: 5px; }

.show .menutoggle span:nth-child(1) { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }

.show .menutoggle span:nth-child(2) { opacity: 0; }

.show .menutoggle span:nth-child(3) { -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }
