@mixin Grid($columns) {
$cols: ();

//remove each number from string
$split-values: str-split($columns, "-");
@each $columns in $split-values {
	//add fraction value
	$cols: append($cols, str-split(#{$columns}fr, " "));
}

//add string to class name & fraction amount
.Grid-#{$columns}{
	grid-template-columns:#{$cols};
}

// variant override for large displays
@media screen and (min-width: $large-breakpoint){
	.Grid-#{$columns}__l{
		grid-template-columns:#{$cols};
	}
}
}
