// Fonts
.t-body {font-family: $body !important}
.t-heading {font-family: $heading !important}
.t-mono {font-family: $mono !important}

//Sizes
.t-0 {font-size: $t-0 !important; line-height: $t-h-0;}
.t-1 {font-size: $t-1 !important; line-height: $t-h-1;}
.t-2 {font-size: $t-2 !important; line-height: $t-h-2;}
.t-3 {font-size: $t-3 !important; line-height: $t-h-3;}
.t-4 {font-size: $t-4 !important; line-height: $t-h-4;}
.t-5 {font-size: $t-5 !important; line-height: $t-h-5;}
.t-6 {font-size: $t-6 !important; line-height: $t-h-6;}
.t-7 {font-size: $t-7 !important; line-height: $t-h-7;}
.t-8 {font-size: $t-8 !important; line-height: $t-h-8;}



// Alignment
.t-left {text-align: left !important}
.t-right {text-align: right !important}
.t-center {text-align: center !important}
.t-justify {text-align: justify !important}

// Weights
.t-extrabold {font-weight: $t-extrabold !important}
.t-bold {font-weight: $t-bold !important}
.t-light {font-weight: $t-light !important}
.t-lighter {font-weight: $t-lighter !important}
.t-regular {font-weight: $t-regular !important}
.t-medium {font-weight: $t-medium !important}

// Styles
.t-decoration-underline {text-decoration: underline !important}
.t-decoration-none {text-decoration: none !important}
.t-style-italic {font-style: italic !important}

// Transforms
.t-transform-capitalize {text-transform: capitalize !important}
.t-transform-lowercase {text-transform: lowercase !important}
.t-transform-uppercase {text-transform: uppercase !important}
.t-transform-none {text-transform: none !important}

// Line Height
.t-line-height-5 {line-height: $t-h-5 !important}
.t-line-height-4 {line-height: $t-h-4 !important}
.t-line-height-3 {line-height: $t-h-3 !important}
.t-line-height-2 {line-height: $t-h-2 !important}
.t-line-height-1 {line-height: $t-h-1 !important}

.t-line-height-double {line-height: $t-h-double !important}
.t-line-height-single {line-height: $t-h-single !important}

// Caret
.t-caret:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: .3em solid transparent;
	border-bottom-width: .14em;
	border-top-color: currentColor;
	vertical-align: middle;
	margin-left: .5rem;
}

@media screen and (min-width: $medium-breakpoint){

	.t-0__m {font-size: $t-0 !important; line-height: $t-h-0;}
	.t-1__m {font-size: $t-1 !important; line-height: $t-h-1;}
	.t-2__m {font-size: $t-2 !important; line-height: $t-h-2;}
	.t-3__m {font-size: $t-3 !important; line-height: $t-h-3;}
	.t-4__m {font-size: $t-4 !important; line-height: $t-h-4;}
	.t-5__m {font-size: $t-5 !important; line-height: $t-h-5;}
	.t-6__m {font-size: $t-6 !important; line-height: $t-h-6;}
	.t-7__m {font-size: $t-7 !important; line-height: $t-h-7;}
	.t-8__m {font-size: $t-8 !important; line-height: $t-h-8;}

	.t-line-height-8__m {line-height: $t-h-8 !important}
	.t-line-height-7__m {line-height: $t-h-7 !important}
	.t-line-height-6__m {line-height: $t-h-6 !important}
	.t-line-height-5__m {line-height: $t-h-5 !important}
	.t-line-height-4__m {line-height: $t-h-4 !important}
	.t-line-height-3__m {line-height: $t-h-3 !important}
	.t-line-height-2__m {line-height: $t-h-2 !important}
	.t-line-height-1__m {line-height: $t-h-1 !important}

	.t-left__m {text-align: left !important}
	.t-right__m {text-align: right !important}
	.t-center__m {text-align: center !important}
	.t-justify__m {text-align: justify !important}

	.t-extrabold__m {font-weight: $t-extrabold !important}
	.t-bold__m {font-weight: $t-bold !important}
	.t-light__m {font-weight: $t-light !important}
	.t-lighter__m {font-weight: $t-lighter !important}
	.t-regular__m {font-weight: $t-regular !important}
}

@media screen and (min-width: $large-breakpoint){
	.t-0__l {font-size: $t-0 !important; line-height: $t-h-0;}
	.t-1__l {font-size: $t-1 !important; line-height: $t-h-1;}
	.t-2__l {font-size: $t-2 !important; line-height: $t-h-2;}
	.t-3__l {font-size: $t-3 !important; line-height: $t-h-3;}
	.t-4__l {font-size: $t-4 !important; line-height: $t-h-4;}
	.t-5__l {font-size: $t-5 !important; line-height: $t-h-5;}
	.t-6__l {font-size: $t-6 !important; line-height: $t-h-6;}
	.t-7__l {font-size: $t-7 !important; line-height: $t-h-7;}
	.t-8__l {font-size: $t-8 !important; line-height: $t-h-8;}

	.t-line-height-8__l {line-height: $t-h-8 !important}
	.t-line-height-7__l {line-height: $t-h-7 !important}
	.t-line-height-6__l {line-height: $t-h-6 !important}
	.t-line-height-5__l {line-height: $t-h-5 !important}
	.t-line-height-4__l {line-height: $t-h-4 !important}
	.t-line-height-3__l {line-height: $t-h-3 !important}
	.t-line-height-2__l {line-height: $t-h-2 !important}
	.t-line-height-1__l {line-height: $t-h-1 !important}

	.t-left__l {text-align: left !important}
	.t-right__l {text-align: right !important}
	.t-center__l {text-align: center !important}
	.t-justify__l {text-align: justify !important}

	.t-extrabold__l {font-weight: $t-extrabold !important}
	.t-bold__l {font-weight: $t-bold !important}
	.t-light__l {font-weight: $t-light !important}
	.t-lighter__l {font-weight: $t-lighter !important}
	.t-regular__l {font-weight: $t-regular !important}
}
