.w-0 {width: 0 !important;}
.w-1 {width: 1% !important;}
.w-25 {width: 25% !important;}
.w-33 {width: 33.33% !important;}
.w-50 {width: 50% !important;}
.w-66 {width: 66.66% !important;}
.w-75 {width: 75% !important;}
.w-99 {width: 99% !important;}
.w-100 {width: 100% !important;}
.w-auto {width: auto !important;}

@media screen and (min-width: $medium-breakpoint){
	.w-0__m {width: 0 !important;}
	.w-1__m {width: 1% !important;}
	.w-25__m {width: 25% !important;}
	.w-33__m {width: 33.33% !important;}
	.w-50__m {width: 50% !important;}
	.w-66__m {width: 66.66% !important;}
	.w-75__m {width: 75% !important;}
	.w-99__m {width: 99% !important;}
	.w-100__m {width: 100% !important;}
	.w-auto__m {width: auto !important;}
}

@media screen and (min-width: $large-breakpoint){
	.w-0__l {width: 0 !important;}
	.w-1__l {width: 1% !important;}
	.w-25__l {width: 25% !important;}
	.w-33__l {width: 33.33% !important;}
	.w-50__l {width: 50% !important;}
	.w-66__l {width: 66.66% !important;}
	.w-75__l {width: 75% !important;}
	.w-99__l {width: 99% !important;}
	.w-100__l {width: 100% !important;}
	.w-auto__l {width: auto !important;}
}

