<!DOCTYPE html>
<html lang="en">
{% include _head.html %}
<body>

	<div class="container-1 u-clearfix">
		<div class="g-1_4__l p-bottom-s">
			{% include _nav.html %}
		</div>
		<div class="g-3_4__l">
			<div class="container-m">
				<section class="p bg-c-w100 m-bottom-l">
					<div class="u-clearfix m-bottom-2">
							<h1>DreamHost.css</h1>
							<p class="t-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim laoreet sem, vitae facilisis turpis volutpat nec. Integer at magna sit amet felis consequat fermentum at quis risus. Suspendisse id magna sodales, mollis ex vitae, dictum dolor. Integer ex turpis, facilisis nec nisi ut, aliquet sagittis dui.</p>
					</div>

					<hr />

				</section>
			</div>
		</div>

	</div>

	{% include _footer.html %}

</body>
</html>
