<!DOCTYPE html>
<html lang="en">
{% include _head_new.html %}
<body class="bg-black">


<div class="app">

    

    <nav class="nav flex flex-align-center bg-black t-c-w100">

        <div class="nav-menu__toggle">
            <button onclick="toggleMenu()" href="#" class="hamburger toggle">&#9776;</button>
            <button style="display: none;" onclick="toggleMenu()" href="#"
                class="close toggle">&times;</button>
        </div>

        <div class="eclipse">
            <p>E C L I P S E</p>
            <div class="flex">
                <a href="{{site.baseurl}}/" class="brand">
                    <img src="/assets/images/logo/dh_logo-white.png" />
                </a>
                <span>Brand Guidelines</span>
            </div>
        </div>

    </nav> <!-- End Navigation Area -->

    {% include _newnav.html %}


    <main class="main {% if page.toc == false %} no-toc{% endif %}">

        <article
            class="t-body{% if page.fullwidth %} container-full-width{% else %} container-l{% endif %}">
            <header class="m-bottom-6">
                <h1 class="t-5 m-bottom-0">{{page.title}}</h1>
            </header>

            {{content}}

        </article>
    </main>

    {% if page.toc != false %}
    
    {% endif %}


</div>


{% include _footer_new.html %}

</body>
</html>
